<!doctype html>
<html lang="en">
<head>

    <title> Server </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">

    <script src="../../public/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../public/js/popper.min.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
    <%- body %>
</div>

</body>
</html>
